<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Round">
    <script src="https://cdn.tailwindcss.com"></script>


    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <meta id="theme-color" name="theme-color" content="rgb(24, 25, 26)">


    <title>MelodiMix - Home</title>
</head>

<body>
    <div class="flex justify-center items-center h-screen w-screen">
        <div class="bg-center space-y-10" style="width: 80%;">
            <h1 class="font-normal text-6xl text-white text-center">MelodiMix</h1>

            <input type="text" placeholder="Search..." class="text-white">

            <h3 class="font-normal text-2xl text-white">I'm feeling...</h3>

        </div>
    </div>

</body>

</html>